<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/annoying"
        android:label="@string/app_name"
        android:roundIcon="@drawable/annoying"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:launchMode="singleTask"
        android:exported="true">
        <activity
            android:name=".AndroidLogViewActivity"
            android:label="@string/title_activity_log_view"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false">
        </activity>
        <activity
            android:name=".AndroidSettingsActivity"
            android:label="Settings"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false">
        </activity>
        <activity
            android:name=".AndroidMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".AndroidMainActivity$AndroidDoNotKillMeServiceLocal"/>
    </application>
</manifest>