<component name="libraryTable">
  <library name="app" type="kotlin.js">
    <CLASSES>
      <root url="file://$PROJECT_DIR$/../lib" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="file://$PROJECT_DIR$/../app" />
      <root url="file://$PROJECT_DIR$/../lib" />
      <root url="file://$PROJECT_DIR$/../lib/src/main/java" />
    </SOURCES>
  </library>
</component>